.toast_danger {
    border-color: #D43844;
}

.toast_success {
    border-color: #92D438;
}

.toolbar_cls {
    background-color: #6C8497;
}

.red {
    color: #f00;    
}

.green {
    color: #92D438;    
}

.hide {
    display: none;
}